body {
    background-image: url('spaceman-background.jpeg');
    background-color: black;
    background-size: 100vw;
    color:aquamarine;
    display: relative;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
    
}